PAYLOAD_SECRET=mygeneratedsecret
DATABASE_URL=mongodb://127.0.0.1/template-ecommerce

COMPANY_NAME="Payload Inc."
TWITTER_CREATOR="@payloadcms"
TWITTER_SITE="https://nextjs.org/commerce"
SITE_NAME="Payload Commerce"

PAYLOAD_PUBLIC_SERVER_URL=http://localhost:3000
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
GMAIL_USER=
GMAIL_APP_PASSWORD=
GMAIL_FROM_ADDRESS=
GMAIL_FROM_NAME=
NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_ENVIRONMENT=development
SENTRY_RELEASE=
SENTRY_AUTH_TOKEN=
SENTRY_TRACES_SAMPLE_RATE=1
SENTRY_REPLAYS_SESSION_SAMPLE_RATE=1
SENTRY_REPLAYS_ON_ERROR_SAMPLE_RATE=1
SENTRY_ENABLE_LOGS=true
SENTRY_SEND_DEFAULT_PII=false

# Used to preview drafts
PREVIEW_SECRET=demo-draft-secret

# Stripe API keys
STRIPE_SECRET_KEY=sk_test_
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_
STRIPE_WEBHOOKS_SIGNING_SECRET=whsec_
